branca==0.8.2
certifi==2026.6.17
charset-normalizer==3.4.7
folium==0.20.0
geopandas==1.1.4
idna==3.18
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.23.0
numpy==2.5.1
packaging==26.2
pandas==3.0.3
plotly==6.8.0
pyogrio==0.13.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
requests==2.34.2
shapely==2.1.2
six==1.17.0
tzdata==2026.2
urllib3==2.7.0
xyzservices==2026.3.0
